* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LOGIN */

.login-background {
    background-image: url('../img/back-ground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: white;
    border-radius: 8px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.337);
    max-width: 500px;
    margin-bottom: 30px;
    max-height: 80vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #0a0a0a;
    border-radius: 4px;
    box-sizing: border-box;
}


input:focus,
textarea:focus {
    border-color: #c52727;
    outline: none;
}



.container-button {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn-login {
    background-color: #fab940;
    border: 2px solid #0a0a0a;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease-in-out;
}